-Xmx5G
-Djdk.attach.allowAttachSelf=true'
-Datsso.log.level=SEVERE
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.local.only=false
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-Dcom.sun.management.jmxremote.port=1088
-Djava.rmi.server.hostname=myserver.example.com
-Djava.awt.headless=true
-Djava.rmi.server.hostname=localhost
